.top-container {
  height: 200px;
  width: 200px;
  background-color: grey;
  padding: 20px;
  border: solid 10px;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: red;
  border: solid 20px;
  margin-left: 260px;
}

.lower-container {
  height: 200px;
  width: 200px;
  background-color: yellow;
  border: solid 10px;
  margin-left: 500px;
}
