/* First session start here */

body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
}

/* first section start here  */
.starting {
  padding: 3% 15%;
  /* height: 600px;  */
  color: white;
}

/* navbar css start here  */
.navbar {
  padding: 0 0 4.5rem;
}
/* for removing existing padding from bootstarp in nav-brand  */
.tindog {
  padding-left: 0;
}

.nav {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  font-size: 1.2rem;
}

/* Main heading Content start here  */

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
 
/* mobile phone  */
.rotate {
  /* background-color: transparent; */
  width: 60%;
  transform: rotate(25deg);
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}
