/* First session start here */

#title{
    background-color: #ff4c68;
}

.nav{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

.nav-item{
    font-size: 1.2rem;
}

.heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.starting{
    padding: 3% 15%;
}

.rotate {
    /* background-color: transparent; */
height: 600px;
    transform: rotate(20deg);
  }
  